<form class="contact-form" (ngSubmit)="registerContact()"
  [formGroup]="contactForm">

  <div class="row justify-content-center my-3 mx-0 w-100">

    <div class="col-4 col-md-3">
      <legend class="legend">First Name</legend>
      <div class="form-group"
        [ngClass]="{'has-danger':hasSpecificError(firstName)}">
        <input type="text" class="form-control" formControlName="firstName"
          [ngClass]="{'form-control-danger':hasSpecificError(firstName)}">
        <div class="form-control-feedback" *ngIf="hasSpecificError(firstName)">
          {{getError(firstName)}}</div>
      </div>
    </div>

    <div class="col-4 col-md-3">
      <legend class="legend">Last Name</legend>
      <div class="form-group"
        [ngClass]="{'has-danger':hasSpecificError(lastName)}">
        <input type="text" class="form-control" formControlName="lastName"
          [ngClass]="{'form-control-danger':hasSpecificError(lastName)}">
        <div class="form-control-feedback" *ngIf="hasSpecificError(lastName)">
          {{getError(lastName)}}</div>
      </div>
    </div>

  </div>

  <div class="row justify-content-center my-3 mx-0 w-100">

    <div class="col-4 col-md-3 w100">
      <legend class="legend">Email</legend>
      <div class="form-group"
        [ngClass]="{'has-danger':hasSpecificError(email)}">
        <input type="email" class="form-control" formControlName="email"
          [ngClass]="{'form-control-danger':hasSpecificError(email)}">
        <div class="form-control-feedback" *ngIf="hasSpecificError(email)">
          {{getError(email)}}</div>
      </div>
    </div>

    <div class="col-4 col-md-3">
      <legend class="legend">Phone Number</legend>
      <div class="form-group"
        [ngClass]="{'has-danger':hasSpecificError(phoneNumber)}">
        <input type="text" class="form-control" formControlName="phoneNumber"
          [ngClass]="{'form-control-danger':hasSpecificError(phoneNumber)}">
        <div class="form-control-feedback"
          *ngIf="hasSpecificError(phoneNumber)">{{getError(phoneNumber)}}</div>
      </div>
    </div>

  </div>

  <div class="row justify-content-center w-100 mb-5 mx-0">
    <div class="col-5 col-md-3 d-flex justify-content-center">
      <button class="btn btn-default btn-submit w-100" type="submit" [disabled]="hasError()">
        Next
      </button>
    </div>
  </div>


</form>