<div class="page-header" data-parallax="true"
  style="background-image: url('./assets/images/james-ree-ZmeFtu11Hpc-unsplash-medium.jpg');">
  <div class="filter"></div>
  <div class="container">
    <div class="motto text-center">
      <h1>Luxury Exchange</h1>

      <h3>Start selling you luxury.</h3>
    </div>

    <div class="motto-button text-center">
      <button class="btn btn-outline-default btn-lg btn-main"
        (click)="navigateToContact()">
        Sell Product
      </button>
    </div>
  </div>
</div>