.footer {
  line-height: 20px;
}

.footer .copyright {
  display: flex;
  color: #777777;
  padding: 10px 15px;
  font-size: 14px;
  margin: 15px 3px;
  line-height: 20px;
  text-align: center;
  justify-content: end;
}
