<div class="row justify-content-center my-2 mx-0 w-100 ">
  <div class="col-8 col-md-6 justify-content-center">
    <div class="row justify-content-center mx-0 w-100 product-box">

      <div class="col  justify-content-center">
        <p>image</p>
      </div>

      <div class="col-9 col-md-8 justify-content-center ">
        <div class="row justify-content-center mx-0">
          <p>{{product.brand}} {{product.category}}</p>
        </div>
        <div class="row justify-content-center mx-0">
          <p>{{product.model}}</p>
        </div>
      </div>

      <div class="col justify-content-center">
          <p>Delete</p>
      </div>

    </div>
  </div>
</div>